//----- VARIABLES --------------------------------------------------------------------------
// ***************************************************************************************
$color-background-green-light: rgba(138,236,146,1);
$color-background-green: rgb(4, 156, 16);
$color-background-green-dark: rgb(2, 56, 6);

$color-green-light: rgba(22, 235, 10, 1);
$color-green: rgba(14, 145, 20, 1);
$color-green-dark: rgba(7, 85, 4, 1);

$color-blue-light: rgba(10, 215, 235, 1);
$color-blue: rgba(67, 123, 232, 1);
$color-blue-dark: rgba(50, 20, 233, 1);

$color-blue-extra: dark
blue;
